
:root {
--charcoal: #2f4858ff;
--lapis-lazuli: #33658aff;
--carolina-blue: #86bbd8ff;
--hunyadi-yellow: #f6ae2dff;
--orange-pantone: #f26419ff;
}

* {
    box-sizing: border-box;
}

header {
    width: 90%;
    margin: 0 auto;
}

.container-header {
    /*
    background-color: bisque;
    */
    display: flex;
    height: 12vh;
    width: 100%;
    /*border: solid 3px lightblue;*/
    border-bottom: solid 2px #40c4d6;

}

.logo-container {
    
    display: flex;
    width: 88%;
}

.logo {
    height: 100%;
}

.business-name {
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .5rem;
}

/* NAV */

.list-general-design {
    display: flex;
    height: 100%;
    width: 12%;
    justify-content: end;
    margin: 0 auto;
    list-style-type: none;
    
}

.social-media-logo {
    width: 25px;
    margin: .5rem 0;
    padding: .1rem;
}



.social-media-logo:hover {
    background-color: #40c4d6;
    border-radius: 50%;
}

.ham-menu-container {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    cursor: pointer;
}

.ham-menu-logo {
    width: 7vh;
    margin-top: 1.5vh;
}

.nav-list {
    height: 16vh;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    display: none;
}


.nav-list > li > a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 4vh;
    padding-left: .5rem;
} 


.nav-list > li > a:hover {
    color: #40c4d6;
}

.nav-list .active {
    color: #40c4d6;
    
}

.show {
    display: block;
}

.hero-container {
    margin-top: .5rem;
    height: 70vh;
    width: 100%;
    position: relative;
}

.hero-container > img {
    height: 70vh;
    width: 100%;
    }

.button-box > a {
    
    background-color: rgba(0, 0, 0, 0.5);
    color: #40c4d6;
    border-radius: 10%;
    padding: .5rem;
    font-weight: bold;
    text-decoration: none;
}

.button-box > a:hover {
    background-color: rgba(64, 196, 214, 0.5);
    color: black;
    border-radius: 10%;
    padding: .5rem;
    font-weight: bold;
    text-decoration: none;
}

.hero-msg {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.243);
    border-radius: 10%;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 25vw;
    right: 25vw;
    text-align: center;
}

.join-us-container {
    position: absolute;
    bottom: 2rem;
    left: 25vw;
    right: 25vw;
    text-align: center;
}

.join-us-container > p {    
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.243);
    border-radius: 10%;
    font-weight: 600;

}


main {
    justify-content: center;
    align-items: center;
}

.events-container {
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.495);
    background-color: rgba(242, 101, 25, 0.507);
}


.events-container > h2 {
    border-bottom: solid 2px #ffffff;
}



.events-container > h2,
.events-container > h3,
.events-container > p,
.events-container > span {
    margin: 1rem;
}

.weather-logo {
    width: 50px;
    float: left;
    margin-left: 1rem;
}


.business-news-home-grid {
    background-color: #2f4858ff;
    padding: .5rem 0;
}

.card {
    margin: 1rem;
    filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 0.243));
/*    border: 2px solid rgba(0, 0, 0, 0.495); */
    background-color: rgba(51, 100, 138, 0.5);
}

.card:hover {
    border-bottom: #40c4d6 solid 1px;
    transition: .2s;
}

.card p,
.card img,
.card a {
    margin: .5rem;
    color: rgb(255, 255, 255);;
}


footer {
    width: 100%;
    background-color: rgb(212, 201, 195);
    text-align: center;   
    margin: 1.5rem 0;
}

footer p,
footer a,
footer span {
    margin: 0;
    padding: 0;
}

.container-footer {
    /*
    background-color: bisque;
    */
    display: flex;
    height: 12vh;
    justify-content: center;
    /*border: solid 3px lightblue;*/
}

.logo-container-footer{
    
    display: flex;
    height: 100%;
    text-align: start;
}


.personal-info-container {
    margin-top: .5rem;
}

.final-info-container {
    padding: .2rem;
}


.final-info-container p {
    margin: .5rem auto;
}

.final-info-container > p > a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.final-info-container > p > a:hover {
    color:#40c4d6;
}


hr {
    border: #000 solid 1px;
}