@media screen and (min-width: 600px) {
    
    .nav-list {
    display: flex;
    height: 10vh;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
}

.events-weather-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.business-news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.ham-menu-container {
    display: none;
}

}
