



@media (min-width: 600px) {
    
    nav {
        display: block;
        height: 6vh;
    }


    nav ul {
        display: flex;
        width: 100%;
        height: 100%;
        list-style-type: none;
        justify-content: space-around;
    }

    
    .nav-li {
        width: 100%;
        height: 100%;
    }

    #ham-menu {
        display: none;
    }


    main {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    
    .hero-label p {
	    margin: 0;
	    padding: .25rem;
	    font-weight: 700;
	    font-size: 1.2rem;
	    font-family:"Great Vibes", serif;
        }

    .sections {
        margin: 0 auto;
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .nav-a:hover {
        border-bottom: 3px solid #0d6d74;
    }


    .sections .card {
        box-shadow: 2px 2px 5px black;
    }

    footer {
        height: 17vh;
    }
}


@media (min-width: 960px) {
    
    .hero-label p {
	    margin: 0;
	    padding: .25rem;
	    font-weight: 700;
	    font-size: 1.5rem;
	    font-family:"Great Vibes", serif;
        }
}